.header-principal {
  text-align: center;
  font-size: 90%;
}

.contenedor-libro {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}


aside.datos-libro {
  width: 80%;
  box-sizing: border-box;
  font-size: 82%;
  align-items: start;
  text-align: justify;
}

section.descripcion-contenido-libro {
  box-sizing: border-box;
  font-size: 86%;
  text-align: justify;
  width: 80%;
}

.parrafos-contenido {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.parrafo1 {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45%;
  padding: 10px;
}

.parrafo2-3 {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 45%;
  align-items: start;
}

.footer-botones {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 90%;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}